<!-- Modal -->
<div class="modal fade" id="modelSellers" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">יצירת חשבון - מוכרים</h3>
                <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-2">
                            <div>
                                <button type="button" class="btn btn-danger" ng-click="deleteSellerAccount()"
                                    data-dismiss="modal">מחיקת
                                    חשבון</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger my-3" data-dismiss="modal">ניקוי שדות</button>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="shop-name" class="col-form-label">שם החנות:</label>
                                        <span class="mandatory">* שדה חובה</span>
                                        <div>
                                            <input type="text" class="form-control" id="shop-name" ng-model="shopName"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="website" class="col-form-label">כתובת אתר אינטרנט:</label>
                                        <div>
                                            <input type="text" class="form-control" id="website" ng-model="url"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="id-shop" class="col-form-label">מזהה חנות:</label>
                                        <div class="id-number">
                                            <input type="text" class="form-control book-id" id="id-shop"
                                                ng-model="sellerNum" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="logo-img" class="col-form-label">לוגו:</label>
                                        <div>
                                            <input type="image" class="form-control" id="logo-img" ng-model="logoImg">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="my-3">
                                        <img class="logo-placeholder"
                                            src="https://www.resorgs.org.nz/wp-content/uploads/2018/11/logo-placeholder.jpeg" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="contact1" class="col-form-label">איש קשר 1:</label>
                                        <span class="mandatory">* שדה חובה</span>
                                        <div>
                                            <input type="text" class="form-control" id="id-contact1" ng-model="contact1"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="telContact1" class="col-form-label">מספר טלפון:</label>
                                        <span class="mandatory">* שדה חובה</span>
                                        <div>
                                            <input type="text" class="form-control" id="id-telContact1"
                                                ng-model="telContact1" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="my-5">
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" value="female"
                                                    name="genderCon1">אישה
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" value="male"
                                                    name="genderCon1">גבר
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="contact2" class="col-form-label">איש קשר 2:</label>
                                        <div>
                                            <input type="text" class="form-control" id="id-contact2" ng-model="contact2"
                                                required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="telContact2" class="col-form-label">מספר טלפון:</label>
                                        <div>
                                            <input type="text" class="form-control" id="id-telContact2"
                                                ng-model="telContact2" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="my-5">
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" value="female"
                                                    name="genderCon2">אישה
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" value="male"
                                                    name="genderCon2">גבר
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="user-name" class="col-form-label"> שם משתמש / דוא"ל:</label>
                                        <span class="mandatory">* שדה חובה</span>
                                        <div>
                                            <input type="text" class="form-control" id="user-name" ng-model="userName">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="p-wd">סיסמה:</label>
                                        <span class="mandatory">* שדה חובה</span>
                                        <div>
                                            <input type="password" class="form-control" id="p-wd" ng-model="pwd"
                                                placeholder="לפחות 8 תווים" minlength="8">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="re-p-wd">אימות סיסמה:</label>
                                        <span class="mandatory">* שדה חובה</span>
                                        <div>
                                            <input type="password" class="form-control" id="re-p-wd" ng-model="rePwd"
                                                placeholder="לפחות 8 תווים" minlength="8">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="street-shop my-4">
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" value="streetShopFalse"
                                                    name="steet-shop">יש חנות פיזית
                                            </label>
                                        </div>
                                        <div class="form-check-inline street-shop">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" value="streetShopTrue"
                                                    name="steet-shop">אין חנות פיזית
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="shop-address" class="col-form-label">כתובת החנות:</label>
                                        <div>
                                            <input type="text" class="form-control" id="shop-address"
                                                ng-model="shopAddress" placeholder="רחוב ומספר">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="shop-town" class="col-form-label">יישוב:</label>
                                        <div>
                                            <input type="text" class="form-control" id="shop-town" ng-model="shopTown"
                                                placeholder="שם היישוב">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="custom-control custom-checkbox mb-3">
                                        <h6>אופן קבלת תשלום:</h6>
                                        <input type="checkbox" id="cash" name="payment" checked>
                                        <label for="cash">מזומן</label>
                                        <input type="checkbox" id="wire-transfer" name="payment">
                                        <label for="wire-transfer">העברה</label>
                                        <input type="checkbox" id="checks" name="payment">
                                        <label for="checks">המחאות</label>
                                        <input type="checkbox" id="pay-app" name="payment">
                                        <label for="pay-app">
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle"
                                                    data-toggle="dropdown">
                                                    אפליקציות
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item">Pepper</a>
                                                    <a class="dropdown-item">Bit</a>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="custom-control custom-checkbox mb-3">
                                        <h6>משלוחים:</h6>
                                        <input type="checkbox" id="reg-mail" name="delivery">
                                        <label for="reg-mail">דואר רשום</label>
                                        <input type="checkbox" id="snail-mail" name="delivery">
                                        <label for="snail-mail">דואר</label>
                                        <input type="checkbox" id="deliveries-service" name="delivery">
                                        <label for="deliveries-service">שירות שליחים</label>
                                        <input type="checkbox" id="boxes" name="delivery">
                                        <label for="boxes">
                                            <div class="dropdown">
                                                <button type="button" class="btn dropdown-toggle"
                                                    data-toggle="dropdown">
                                                    תיבות
                                                </button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item">Boxit</a>
                                                    <a class="dropdown-item">Yellow</a>
                                                </div>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div>
                                <button type="button" class="btn btn-info" ng-click="openDisclaimer()"
                                    data-dismiss="modal">תנאי
                                    האתר</button>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" id="confirm-disclaimer" name="confirmDisclaimer" required>
                                    <label for="confirm-disclaimer">הריני מאשר/ת את תנאי השימוש באתר</label>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-info my-3" ng-click="addSeller()">יצירת
                                    חשבון</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>