* {
    box-sizing: border-box;
}

/* color palette:
primary: #b71c1c
light: #f05545
dark: #7f0000
text: #ffffff

oranges:
logo orange: #CA7733
primary: #ff6e40
light: #ffa06d
dark: #c53d13
text on dark: #000000
*/

body {
    direction: rtl;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-logo {
    width: 100px;
}

.btn, .btn:active {
    background-color: #CA7733;
    border-color: #CA7733;
    color: white;
}

.btn:hover {
    background-color: white;
    border-color: #CA7733;
    color: #CA7733;
}

.fa-user {
    padding: 11px;
}

.home-search {
    position: relative;
}

.fa-search {
    position: absolute;
    top: 15px;
    left: 5px;
}

.preview {
    /* margin-left: 5px; */
    margin-bottom: 10px;
}

/* .preview:last-child {
    margin-left: 0;
} */

.grey, .card-link, .fa-user, .fa-search, .nav-item>span {
    color: #aaa;
}

.grey:hover, .card-link:hover {
    color: #CA7733;
}

.row-of-cards {
    justify-content: space-between;
}

a:hover {
    text-decoration: none;
}

.modal-footer {
    justify-content: space-evenly;
}

.img-placeholder {
    width: 90%;
}

.book-id {
    width: 30%;
    display: inline-block;
}

.id-number {
    display: inline-block;
    margin: auto;
}

.mandatory {
    color: #CA7733;
    font-size: 0.75em;
}

.logo-placeholder {
    width: 100%;
}

.form-check-inline .form-check-input {
    margin-left: 5px;
}

.dropdown-menu {
    min-width: auto;
}

.modal-title {
    margin: auto
}

.dashboard h3 {
    margin-top: 15px;
}

.circle {
    text-align: center;
}

.statistics {
    position: relative;
    width: 50%;
    padding: 20%;
    background-color: #CA7733;
    border-radius: 50%;
    margin: auto;
}

.statistics:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.statistics p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    color: white;
}

.message-board {
    border: 2px solid #CA7733;
    padding: 5px;
}

.message-board>div {
    margin-top: 10px;
}

.customer, .book-inquired {
    font-weight: bold;
}

.book-inquired {
    color: #CA7733;
}

h3>a:hover {
    color: #ddd;
}

.field-value {
    float: left;
    width: 60%;
    font-weight: bold;
    display: block;
    height: 1.5em;
}

.field-name {
    float: right;
    width: 40%;
}

.book-img {
    width: 10%;
}

h2, h3>a, .title-color, .title-color a {
    color: #CA7733;
}

.card-link, .div-block {
    display: block;
}

.center {
    text-align: center;
}

.category, .sub-cat {
    list-style-type: none;
}

.category {
    background-color: white;
}

.shop-checkbox, .inline {
    display: inline;
}

.choice {
    width: 70%;
    height: 50%;
}

.choice>a {
    color: white;
}

.y-border {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.top-vertical-margin {
    margin-top: 25%;
}

.form-control {
    height: calc(1.5em + .75rem + 8px);
}

.logo {
    text-align: center;
}

.cat-search {
    padding-right: 0;
}

.bold {
    font-weight: bold;
}

.navbar-collapse.show>.navbar-brand{
    display: none;
}