* {
    box-sizing: border-box;
}


/* color palette:
primary: #b71c1c
light: #f05545
dark: #7f0000
text: #ffffff

oranges:
logo orange: #CA7733
primary: #ff6e40
light: #ffa06d
dark: #c53d13
text on dark: #000000
*/

body {
    direction: rtl;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-logo {
    width: 100px;
}

.btn {
    background-color: #CA7733;
    border-color: #CA7733;
}

.btn:hover {
    background-color: #c53d13;
    border-color: #c53d13;
}

.fa-user {
    padding: 11px;
}

.home-search {
    position: relative;
}

.fa-search {
    position: absolute;
    top: 0;
}

.preview {
    /* margin-left: 5px; */
    margin-bottom: 10px;
}

.search-btn {
    width: 100%;
}

.card-link {
    color: #aaa;
}

.row-of-cards {
    justify-content: space-between;
}

a:hover {
    text-decoration: none;
}

.modal-footer {
    justify-content: space-evenly;
}

.img-placeholder {
    width: 90%;
}

.book-id {
    width: 30%;
    display: inline-block;
}

.id-number {
    display: inline-block;
    margin: auto;
}

.mandatory {
    color: #b71c1c;
    font-size: 0.75em;
}

.logo-placeholder {
    width: 100%;
}

.form-check-inline .form-check-input {
    margin-left: 5px;
}

.dropdown-menu {
    min-width: auto;
}

.modal-title {
    margin: auto
}

.dashboard h3 {
    margin-top: 15px;
}

.circle {
    text-align: center;
}

.statistics {
    position: relative;
    width: 50%;
    background-color: #b71c1c;
    border-radius: 50%;
    margin: auto;
}

.statistics:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.statistics span {
    position: absolute;
    top: 40%;
    right: 35%;
    font-size: 150%;
    color: whitesmoke;
}

.message-board {
    border: 2px solid #b71c1c;
    padding: 5px;
}

.message-board>div {
    margin-top: 10px;
}

.customer,
.book-inquired {
    font-weight: bold;
}

.book-inquired {
    color: #b71c1c;
}

.field-value {
    float: left;
    width: 70%;
    font-weight: bold;
}

.field-name {
    float: right;
    width: 30%;
}

.book-img {
    width: 10%;
}