<div>
    <div class="container my-3">
        <div class="row">
            <div class="col-md-2">
                <div>
                    <h6>חיפוש לפי קטגוריות</h6>
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                    עיון ומחקר
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        אנתרופולוגיה </a>
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        ארכאולוגיה </a>
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        פילוסופיה </a>
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        סוציולוגיה </a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                    פרוזה
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                        סיפורת </a>
                                    <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                        נון-פיקשן </a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                    ספרי לימוד
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                        לשון עברית </a>
                                    <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                        מתמטיקה </a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                    ספרי הדרכה
                                </a>
                            </div>
                            <div id="collapseFour" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <a class="card-link" data-toggle="collapse" href="#collapseFour">
                                        בישול </a>
                                    <a class="card-link" data-toggle="collapse" href="#collapseFour">
                                        הורות </a>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                                    ספרי ילדים
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="row my-3">
                    <div class="col-md-4">
                        <form>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="search1">חיפוש לפי:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select class="form-control" id="search1" name="search-options" ng-model="fieldToSearch">
                                            <option value="title">שם כותר</option>
                                            <option value="author">שם מחבר</option>
                                            <option value="isbn">ISBN</option>
                                            <option value="publisher">הוצאה לאור</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-8">
                        <form ng-submit="searchBook()">
                            <div class="input-group md-form form-sm form-2 pl-0">
                                <input ng-model="userSearchInput" class="form-control my-0 py-1 amber-border home-search" type="text" placeholder="חיפוש ספר, מחבר, isbn ,הוצאה לאור" aria-label="Search">
                                <i class="fas fa-search"></i>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div>
                            <button type="button" class="btn btn-danger search-btn" ng-click="clearFields()">ניקוי</button>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <form>
                            <div class="custom-control custom-checkbox mb-3">
                                <h6>חנויות לחיפוש:</h6>
                                <input type="checkbox" id="shop0" name="shops" checked>
                                <label for="shop0">כל החנויות</label>
                                <input type="checkbox" id="shop1" name="shops">
                                <label for="shop1">קפה ספר</label>
                                <input type="checkbox" id="shop2" name="shops">
                                <label for="shop2">קרוון הספרים</label>
                                <input type="checkbox" id="shop3" name="shops">
                                <label for="shop3">דני ספרים</label>
                                <input type="checkbox" id="shop4" name="shops">
                                <label for="shop4">רובינזון</label>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-info search-btn" ng-click="searchBook()">חיפוש</button>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="searchResults.length > 0" class="my-3">
            <h3>תוצאות חיפוש</h3>
            <div class="row row-of-cards">
                <div class="card preview flex-md-fill ml-1" ng-repeat="book in searchResults">
                    <div ng-include="'app/home/modalBook4sale.html'"></div>
                    <div class="card-body" data-toggle="modal" data-target="#book4sale">
                        <h5 class="card-title">{{book.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><span>מאת: </span>{{book.author}}</h6>
                        <a href="#" class="card-link"><span>חנות: </span>{{book.seller}}</a>
                    </div>
                </div>
            </div>
        </div>


        <div class="my-3 search-results" ng-show="searchResults.length===0 && noResults">
            <h3>לא נמצאו תוצאות. באפשרותך להוסיף מודעת חיפוש לספר המבוקש</h3>
        </div>
        <div class="my-3" ng-show="noResults">
            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#modelBookPost">הוספת
            מודעת חיפוש</button>
        </div>
        <div ng-include="'newSearchBookPost.html'"></div>


        <div ng-show="searchResults.length === 0" class="my-3">
            <div>
                <h3 class="my-3 title-color">ספרים שנוספו לאחרונה</h3>
            </div>
            <div class="row row-of-cards">
                <div class="card preview flex-md-fill ml-1 ng-class-even='bcgr-yellow'" ng-repeat="book in books | limitTo:4" data-toggle="modal" data-target="#book4sale">
                    <div ng-include="'app/home/modalBook4sale.html'"></div>
                    <div class="card-body">
                        <h5 class="card-title">{{book.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><span>מאת: </span>{{book.author}}</h6>
                        <a href="#" class="card-link"><span>חנות: </span>{{book.seller}}</a>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="searchResults.length === 0" class="my-3">
            <div>
                <h3 class="my-3"><a href="#!/board">ספרים שקוראים מחפשים</a></h3>
            </div>
            <div class="row row-of-cards">
                <div class="card preview flex-md-fill ml-1" ng-repeat="post in bookPosts" data-toggle="modal" data-target="#modelPostFulfilled">
                    <div ng-include="'app/searchBoard/bookPost.html'"></div>
                    <div class="card-body">
                        <h5 class="card-title">{{post.title}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted"><span>מאת: </span>{{post.author}}</h6>
                        <a href="#" class="card-link"><span>יצירת קשר עם המחפש</span>{{post.seller}}</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- 
        <div class="row">

            <div class="col-md-4 my-3">
                <button type="submit" class="btn btn-info search-btn" data-toggle="modal"
                    data-target="#modelSellers">יצירת
                    חשבון מוכר</button>
            </div>
            <div ng-include="'sellerAccountForm.html'"></div>

            <div class="col-md-4 my-3">
                <button type="button" class="btn btn-info search-btn" data-toggle="modal"
                    data-target="#modelPostFulfilled">מודעת חיפוש</button>
            </div>
            <div ng-include="'app/searchBoard/bookPost.html'"></div>

        </div> -->

    </div>