<!-- Modal -->
<div class="modal fade" id="book4sale" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title title-color">למכירה:</h3>
                <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="div-block">
                            <span class="field-name">מספר מערכת</span>
                            <span class="field-value">{{sellerNum}}{{bookNum}}</span>
                        </div>
                        <div>
                            <span class="field-name">שם הכותר</span>
                            <span class="field-value title-color">{{title}}</span>
                        </div>
                        <div>
                            <span class="field-name">שם המחבר</span>
                            <span class="field-value">{{author}}</span>
                        </div>
                        <div>
                            <span class="field-name">ISBN</span>
                            <span class="field-value">{{isbn}}</span>
                        </div>
                        <div>
                            <span class="field-name">מצב הספר</span>
                            <span class="field-value">{{bookState}}</span>
                        </div>
                        <div>
                            <span class="field-name">הוצאה לאור</span>
                            <span class="field-value">{{publisher}}</span>
                        </div>
                        <div>
                            <span class="field-name">מהדורה</span>
                            <span class="field-value">{{edition}}</span>
                        </div>
                        <div>
                            <span class="field-name">קטגוריה</span>
                            <span class="field-value">{{bookCategory}}</span>
                        </div>
                        <div>
                            <span class="field-name">פרטים נוספים</span>
                            <span class="field-value">{{bookDetails}}</span>
                        </div>
                        <div>
                            <span class="field-name">שם החנות</span>
                            <span class="field-value">{{seller}}</span>
                        </div>
                        <div>
                            <span class="field-name">מקבלים תשלום ב</span>
                            <span class="field-value">
                                <span>מזומן</span>
                                <span>כרטיסי אשראי</span>
                            </span>
                            <span class="field-value">
                                <span>המחאות</span>
                                <span>ביט</span>
                                <span>פפר</span>
                            </span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div>
                            <button type="button" class="btn btn-block btn-danger" ng-click="deleteBook()"
                                data-dismiss="modal">הסרת מודעה</button>
                        </div>
                        <div>
                            <button type="button" class="btn btn-block btn-info my-3" ng-click=""
                                data-dismiss="modal">עדכון מודעה</button>
                        </div>
                        <div class="center">
                            <span>שיתוף המודעה</span>
                        </div>
                        <div class="center">
                            <span><i class="fab fa-facebook-messenger"></i></span>
                        </div>
                        <div class="center">
                            <span><i class="fab fa-whatsapp"></i></span>
                        </div>
                        <div class="center">
                            <span><i class="fab fa-twitter-square"></i></span>
                        </div>
                        <div class="center">
                            <span><i class="fas fa-envelope"></i></span>
                        </div>

                        <div>
                            <!-- <span class="field-value">{{image}}</span> -->
                            <img class="img-placeholder"
                                ng-src="http://www.af.undp.org/etc/designs/UNDPGlobalDesign/clientlibs/digitallibrary/css/book-cover-placeholder.png" />
                        </div>
                    </div>
                </div>

                <div>
                    <span class="center">לשליחת פנייה אוטומטית לחנות לחזור אליכם לגבי ספר זה לחצו כאן:</span>
                    <button type="button" class="btn btn-lg btn-block" ng-click="contact(book)">שליחת פנייה
                        אוטומטית</button>
                </div>
            </div>
        </div>
    </div>
</div>