<!-- Modal -->
<div class="modal fade" id="modelBookPost" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    ng-controller="searchPostCtrl" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title title-color">מודעת חיפוש ספר</h3>
                <button type="button" class="close ml-0" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="id-book" class="col-form-label">מספר מזהה:</label>
                                <div class="id-number">
                                    <input type="text" class="form-control book-id" id="id-seller" ng-model="sellerNum"
                                        disabled>
                                    <input type="text" class="form-control book-id" id="id-book" ng-model="bookNum"
                                        disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="title" class="col-form-label">שם הכותר:</label>
                                <div>
                                    <input type="text" class="form-control" id="id-title" ng-model="title" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="author" class="col-form-label">שם המחבר/ת:</label>
                                <div>
                                    <input type="text" class="form-control" id="id-author" ng-model="author" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <!-- <label for="book-img" class="col-form-label">תמונה:</label> -->
                                <div class="img-browse">
                                    <!-- <input type="text" class="form-control" id="img" placeholder="Enter image URL" ng-model="img"> -->
                                    <input type="file" accept="image/*" image-with-preview ng-model="img"
                                        accept="image/jpeg,image/png" class="form-control" id="book-img" ng-model="image">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="isbn" class="col-form-label">ISBN:</label>
                                <div>
                                    <input type="text" class="form-control" id="id-isbn" ng-model="isbn">
                                </div>
                            </div>
                            <div>
                                <label for="book-state">מצב הספר:</label>
                                <select class="form-control" id="id-book-state" name="book-state" ng-model="bookState">
                                    <option>כמו חדש</option>
                                    <option>טוב מאוד</option>
                                    <option>סביר</option>
                                    <option>קריא</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="publisher" class="col-form-label">הוצאה לאור:</label>
                                <div>
                                    <input type="text" class="form-control" id="id-publisher" ng-model="publisher">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comment">פרטים נוספים:</label>
                                <textarea class="form-control" rows="5" id="comment" ng-model="bookDetails"></textarea>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <button type="button" class="btn btn-danger btn-block" ng-click="deleteBook()"
                                    data-dismiss="modal">מחיקת הספר</button>
                            </div>
                            <div>
                                <img class="img-fluid" ng-show="img.src" ng-src="{{img.src}}" alt="{{name}}">
                                <!-- <img class="img-placeholder"
                                    src="http://www.af.undp.org/etc/designs/UNDPGlobalDesign/clientlibs/digitallibrary/css/book-cover-placeholder.png" /> -->
                            </div>
                            <div class="form-group">
                                <label for="edition" class="col-form-label">מהדורה:</label>
                                <input type="text" class="form-control edition" id="id-edition" ng-model="edition">
                            </div>
                            <div>
                                <label for="states-list">קטגוריה:</label>
                                <select class="form-control" id="id-category" name="states-list">
                                    <option ng-repeat="category in categories" ng-model="bookCategory">{{category}}
                                    </option>
                                </select>
                            </div>
                            <div>
                                <button type="button" class="btn btn-lg btn-block btn-info my-3"
                                    ng-click="addNewBookPost()">פרסום מודעת
                                    חיפוש</button>
                            </div>
                            <div>
                                <button type="button" class="btn btn-danger btn-block"
                                    data-dismiss="modal">ניקוי</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>