<div>
    <form ng-submit="searchGoogleBooks()">
        <div class="input-group md-form form-sm form-2 pl-0">
            <input ng-model="googleSearchInput"
                class="form-control my-0 py-1 amber-border home-search" type="text"
                ng-keypress="showGoogleResults=true"
                placeholder="חיפוש חופשי ב-API של גוגל"
                aria-label="Search">
            <i class="fas fa-search"></i>
        </div>
    </form>

    <div class="my-3" ng-if="gBooks.length>0">
        <h3 class="title-color">תוצאות חיפוש</h3>
        <div class="row gResults">
            <div class="card preview" ng-class="{'d-flex flex-md-fill ml-1': gBooks.length> 1}"
                ng-class-odd="'bcgr-yellow'"
                ng-repeat="item in gBooks"
                ng-click="goToGoogleBook(item.id)">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><span>מאת: </span>{{item.author}}</h6>
                    <p><span>קטגוריה: </span>{{item.category}}</p>
                </div>
            </div>
        </div>
    </div>
</div>