<div>
    <div class="row">
        <div class="card preview flex-md-fill ml-1"
            ng-repeat="post in bookPosts"
            ng-click="bookPostingModal(post)"
            ng-class-odd="'bcgr-yellow'"
            ng-class-even="'bcgr-orange'"
            data-toggle="modal" data-target="#modelPostFulfilled">
            <div ng-include="'app/searchBoard/bookPost.html'"></div>

            <div class="card-body">
                <h5 class="card-title">{{post.title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted"><span>מאת: </span>{{post.author}}</h6>
                <a href="javascript:void(0)" class="card-link">יצירת קשר עם המחפש</a>
            </div>
        </div>
    </div>
</div>